<section class="no-padding" id="portfolio">
    <div class="container-fluid">
        <div class="row no-gutter">
            <div class="col-lg-4 col-sm-6">
                <div class="portfolio-box-caption">
                    <div class="portfolio-box-caption-content">
                        <div class="project-category text-faded">
                            Esdlife
                        </div>
                        <div class="project-name">
                            I worked here for 5 years as an analyst programmer, i learned a lot here, from java spring boot to kafka
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="portfolio-box-caption">
                    <div class="portfolio-box-caption-content">
                        <div class="project-category text-faded">
                            Fse engineering group
                        </div>
                        <div class="project-name">
                            This is my first full time job, as a fullstack developer i helped design and implement some internal system workflow
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="portfolio-box-caption">
                    <div class="portfolio-box-caption-content">
                        <div class="project-category text-faded">
                            TickUrTime
                        </div>
                        <div class="project-name">
                            This is my personal project which help people to count their time usage
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
