<section class="no-padding" id="portfolio">
    <div class="container-fluid">
        <div class="row no-gutter">
            <div class="portfolio-box-caption">
                <div class="portfolio-box-caption-content">
                    <div class="project-category text-center">
                        <h2>Skill Set</h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 text-center">
                <h4>Java</h4> <br>
                <p>Hybris<br>Apache Kafka</p>
            </div>
            <div class="col-lg-4 text-center">
                <h4>JavaScript</h4> <br>
                <p>React<br>Node</p>
            </div>
            <div class="col-lg-4 text-center">
                <h4>Solidity</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 text-center">
                <h4>PHP</h4> <br>
                <p>Laravel</p>
            </div>
            <div class="col-lg-4 text-center">
                <h4>HTML</h4>
            </div>
            <div class="col-lg-4 text-center">
                <h4>CSS</h4>
            </div>
        </div>
    </div>
</section>
