<section class="no-padding" id="portfolio">
    <div class="container-fluid">
        <div class="row no-gutter">
            <div class="portfolio-box-caption">
                <div class="portfolio-box-caption-content">
                    <div class="project-category text-center">
                        <h2>Skill Set</h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 text-center">
                <h2>Java</h2>
                <p>Hybris<br>Apache Kafka</p>
            </div>
            <div class="col-lg-4 text-center">
                <h2>JavaScript</h2>
                <p>React<br>Node</p>
            </div>
            <div class="col-lg-4 text-center">
                <h2>Solidity</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 text-center">
                <h2>PHP</h2>
                <p>Laravel</p>
            </div>
            <div class="col-lg-4 text-center">
                <h2>HTML</h2>
            </div>
            <div class="col-lg-4 text-center">
                <h2>CSS</h2>
            </div>
        </div>
    </div>
</section>
